@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #00000080;

}
.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #111111;
}
.inter-semi-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: #252432;
}
.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #111111;
}
.floating-badge {
  position: absolute;
  top: -140px; 
  right: -88px; 
  width: 284px; 
  height: 284px; 
  display: none;
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0%, 100% {
    transform: translateY(2px) rotate(5deg);
  }
  50% {
    transform: translateY(-30px) rotate(10deg);
  }
}
.floating-animation {
  animation: float 4s ease-in-out infinite;
}

@media (min-width: 480px) and (max-width: 540px) {
  .title-and-description {
    padding-left: 2rem; 
    padding-right: 2rem;
    text-align: left;
    margin-top: 70px;
  }

}
  @media (min-width: 540px) and (max-width: 639px) {
  .title-and-description {
    padding-left: 2rem; 
    padding-right: 2rem;
    text-align: left;
    margin-top: 120px;
  }
}
